<!doctype html>
<html>
    <head>
		<title>Syllabus Date Maker</title> 

		<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
		<script type="text/javascript" src="/js/lib/moment.js"></script>
		<script type="text/javascript" src="/js/lib/transition.js"></script>
		<script type="text/javascript" src="/js/lib/collapse.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/lib/bootstrap-datetimepicker.js"></script>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="/css/mystyle.css">

	</head>
	<body>
		<div class="container">
			<header>
				<h1>Syllabus Helper</h1>
			</header>
			
			<div id="main">
				{{{body}}}
			</div>
		</div>
	</body>
</html>